header.header
  div.header__headerInner.headerInner
    div.headerInner__logoContainer.logoContainer
      a(href="/").logoContainer__logo
        img(src="images/Logo.png")
    div.headerInner__socials.socials
      a(href="#").socials__socialButton.-facebook
        i.fab.fa-facebook-f
      a(href="#").socials__socialButton.-twitter
        i.fab.fa-twitter
      a(href="#").socials__socialButton.-linkedin
        i.fab.fa-linkedin-in