div.main__fullBlock.fullBlock.-blockQuestion
  div.fullBlock__innerBlock.innerBlock
    section.innerBlock__mainSection.mainSection.-fullWidth
      h3.h3 Have any question or need help?
      a(href="#").emailLink
        div.link-1
          i.far.fa-envelope
          span contact us now
        div.link-2
          i.far.fa-envelope
          span contact us now