footer.footer
  div.footer__fullBlock.fullBlock
    div.fullBlock__logoContainer.logoContainer
      a(href="/").logoContainer__logo
        img(src="images/logo-black.png")
    div.fullBlock__smallText ©2014 LandX Template LLC.
    div.fullBlock__socials
      a(href="#").socials__socialButton.-facebook
        i.fab.fa-facebook-f
      a(href="#").socials__socialButton.-twitter
        i.fab.fa-twitter
      a(href="#").socials__socialButton.-pinterest
        i.fab.fa-pinterest-p
      a(href="#").socials__socialButton.-google-plus
        i.fab.fa-google-plus-g
      a(href="#").socials__socialButton.-instagram
        i.fab.fa-instagram
      a(href="#").socials__socialButton.-linkedin
        i.fab.fa-linkedin-in