div.main__fullBlock.fullBlock.-blockSolution
  div.fullBlock__innerBlock.innerBlock
    section.innerBlock__mainSection.mainSection.-fullWidth
      div.mainSection__headerBlock.headerBlock.-centered
        h1.h1 Get the Best <strong class="fontBlue">Solution</strong> for Your <strong>Business</strong>
        p.subheader.-main Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms. Coworking viral landing page user base.
      form(action="/register.json" method="post").firstBlockForm
        div.formGroup
          input.formInput#name(required)
          label(for="name") Your Name
        div.formGroup
          input.formInput#email(type="email" required)
          label(for="email") Your E-Mail
        div.formGroup
          input.formInput#phone(type="tel" required data-mask)
          label(for="phone") Phone Number
        div.formGroup
          button(type="submit")
            span Get Started
          div.additionalSubmitBlock
            span Register Now and Get FREE Trial
            img(src="images/white-top-arrow.png")