div.main__fullBlock.fullBlock.-blockDescribe.-bgGray
  div.fullBlock__innerBlock.innerBlock
    section.innerBlock__halfSection.halfSection
      div.mainSection__headerBlock.headerBlock
        h2.h2 Describe more about product
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      div.sectionProperty
        div.sectionProperty__icon
          i.fas.fa-chart-pie
        div.sectionProperty__text
          h5.h5 Good in Performance
          p Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.
      div.sectionProperty
        div.sectionProperty__icon
          i.fas.fa-video
        div.sectionProperty__text
          h5.h5 Video Background
          p Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.
    section.innerBlock__halfSection.halfSection
      img(src="images/browser.png")