div.main__fullBlock.fullBlock.-blockVideo
  div.fullBlock__innerBlock.innerBlock
    section.innerBlock__mainSection.mainSection.-fullWidth
      div.mainSection__headerBlock.headerBlock.-centered
        h2.h2 Watch Video
        p Term sheet convertible note colluding bootstrapping.
      div.mainSection__videoBlock.videoBlock
        video#my-video(controls)
          source(src='https://cdn.fluidplayer.com/videos/valerian-1080p.mkv' title='1080p' type='video/mkv' data-fluid-hd )
          source(src='https://cdn.fluidplayer.com/videos/valerian-720p.mkv' title='720p' type='video/mkv' data-fluid-hd )
          source(src='https://cdn.fluidplayer.com/videos/valerian-480p.mkv' title='480p' type='video/mkv')
      div.mainSection__videoLinks.videoLinks
        a(href="#").videoLinks__link.-users
          i.far.fa-user
          i.fas.fa-user
          span Trusted by 100+ users
        a(href="#").videoLinks__link.-documentation
          i.far.fa-file-video
          i.fas.fa-file-video
          span Video Documentation
        a(href="#").videoLinks__link.-chat
          i.far.fa-comments
          i.fas.fa-comments
          span 24/7 Chat Support
