div.main__fullBlock.fullBlock.-blockSolution2
  div.fullBlock__innerBlock.innerBlock
    section.innerBlock__solution2Section.solution2Section.-fullWidth
      h4.h4 We Are Ready to Help You
      h2.h2 Get the Best Solution for Your Business
      a(href="#").solution2Section__button.button
        div.subButton
          span get started&nbsp;
            i.fas.fa-long-arrow-alt-right
        span get started&nbsp;
          i.fas.fa-long-arrow-alt-right