html {
  font-size: $rem;
  font-family: 'Source Sans Pro', sans-serif;
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-family: 'Raleway', sans-serif;
    position: relative;

    @if $i == 1 {
      font-size: 3rem;
      line-height: 1.33;
      font-weight: 500;
      color: $white;
      margin-top: 0;
      margin-left: 1.5rem;

      @media (max-width: $breakpoint-ipad-landscape)  {
        font-size: 2rem;
        margin: 0;
      }
    }

    @else if $i == 2 {
      font-size: 2.25rem;
      line-height: 1.43;
      font-weight: 500;
      color: $gray-900;
      margin-top: 0;
      margin-bottom: 3.25rem;

      &::after {
        content: '';
        position: absolute;
        width: 4.25rem;
        bottom: -1rem;
        left: 0;
        height: 1px;
        background-color: $blue;
      }

      @media (max-width: $breakpoint-ipad-landscape)  {
        font-size: 1.75rem;
      }
    }

    @else if $i == 3 {
      font-size: 1.5rem;
      line-height: 1.25;
      font-weight: 600;
      color: $gray-900;
    }

    @else if $i == 4 {
      font-size: 1.25rem;
      line-height: 1.5;
      font-weight: 600;
      color: $gray-900;
      margin: 1rem 0;
    }

    @else if $i == 5 {
      font-size: 1rem;
      line-height: 1.5625;
      font-weight: 900;
      color: $gray-900;
      margin: 0;
    }
  }
}

%button {
  background-color: $blue;
  color: $white;
  border: 0;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  position: relative;
  transition: all .2s ease;
  overflow: hidden;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .16);

    &::after,
    .subButton {
      transform: translate(.25rem, .25rem);
      background: $blue, 20%;
      color: $white;
    }

    &::before {
      opacity: 1;
    }

    & > span {
      transform: translate(-.25rem, -.25rem);
      //background-color: $blue;
      color: darken($blue, 20%);
      font-weight: 600;
    }
  }

  &::after,
  .subButton {
    content: '';
    background: transparent;
    color: inherit;
    border: 0;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    transition: all .2s ease;
    position: absolute;
    height: 100%;
    opacity: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }

  & > span {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    transition: all .2s ease;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(22.5deg, darken($blue, 20%) 49%, $blue 50%);
    opacity: 0;
    transition: all .2s ease;
  }
}

%blueSquareIcon {
  background: $blue;
  color: $white;
  width: 2.25rem;
  height: 2.25rem;
  max-width: 2.25rem;
  max-height: 2.25rem;
  text-align: center;
  line-height: 2.25rem;
  border-radius: .25rem;
}

p,
li {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: $gray-600;
  line-height: 1.56;
}

p {
  margin: 0;

  & + p {
    margin-top: 1rem;
  }
}

.fontBlue {
  color: $blue;
}

a {
  text-decoration: none;
  color: inherit;
}

.socials__socialButton {
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: .75rem;
}

.maskElement {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  opacity: 0;
  transition: opacity .1s ease;
}
