doctype html
html
  include pug/__head
  body
    include  pug/0_header
    main.main
      include  pug/1_solution
      include  pug/2_explore
      include  pug/3_describe
      include  pug/4_features
      include  pug/5_pricing
      include  pug/6_video
      include  pug/7_slider
      include  pug/8_reviews
      include  pug/9_solution2
      include  pug/10_question
    include  pug/11_footer